@using TheTopPost.Models
@model PagesTopModel

    <div class="posts">
        <div class="paginator">
            <div>
                <form method="get" action="/Main/Top">
                    <input type="hidden" name="page" value="1">
                    <input type="submit" class="button paginatorButton" title="First page" value="<<">
                </form>
            </div>
            @for (int i = 0; i < Model.Pages.Count; i++)
            {
                string style = (Model.Pages[i] != Model.PageCurrent) ? "paginatorButton" : "paginatorButtonSelect";

                <div>
                    <form method="get" action="/Main/Top">
                        <input type="hidden" name="page" value="@Model.Pages[i]">
                        <input type="submit" class="button @style" title="Page @Model.Pages[i]" value="@Model.Pages[i]">
                    </form>
                </div>
            }
            <div>
                <form method="get" action="/Main/Top">
                    <input type="hidden" name="page" value="@Model.PageCount">
                    <input type="submit" class="button paginatorButton" title="Last page" value=">>">
                </form>
            </div>
        </div>
        @for (int i = 0; i < Model.DisplayMessages.Count; i++)
        {
            string style = i == 0 && Model.PageCurrent == 1 ? "topPost" : "";
            
            <div class="row">
                <div class="post @style">
                    <div style="position:relative">
                        @if (i == 0 && Model.PageCurrent == 1)
                        {
                            <img class="crown" src="/images/Crown.png" />
                        }
                    </div>
                    <img class="pic" src="@(Model.DisplayMessages[i].BytesImage != null ? Url.Action("GetImage", "Main", new { postId = Model.DisplayMessages[i].Id }) : "/images/DefaultImage.jpg")" />
                    <div class="textPost">
                        @Model.DisplayMessages[i].Text
                    </div>
                    <div class="datePost">
                        @Model.DisplayMessages[i].Date
                    </div>
                </div>
                <div class="raitingColumn">
                    <div>
                        <form method="post" asp-controller="Main" asp-action="CapchaConfirm">
                            <input type="hidden" name="id" value="@Model.DisplayMessages[i].Id">
                            <input type="hidden" name="page" value="@Model.PageCurrent">
                            <input type="hidden" name="typeChange" value="@TypeChange.Up">
                            <input type="submit" class="button upRaiting" value="∧">
                        </form>
                    </div>
                    <div class="raiting">
                        <span class="raitingValue">@Model.DisplayMessages[i].Raiting</span>
                    </div>
                    <div>
                        <form method="post" asp-controller="Main" asp-action="CapchaConfirm">
                            <input type="hidden" name="id" value="@Model.DisplayMessages[i].Id">
                            <input type="hidden" name="page" value="@Model.PageCurrent">
                            <input type="hidden" name="typeChange" value="@TypeChange.Down">
                            <input type="submit" class="button downRaiting" value="∨">
                        </form>
                    </div>
                </div>
            </div>
        }
        <div class="paginator">
            <div>
                <form method="get" action="/Main/Top">
                    <input type="hidden" name="page" value="1">
                    <input type="submit" class="button paginatorButton" title="First page" value="<<">
                </form>
            </div>
            @for (int i = 0; i < Model.Pages.Count; i++)
            {
                string style = (Model.Pages[i] != Model.PageCurrent) ? "paginatorButton" : "paginatorButtonSelect";

                <div>
                    <form method="get" action="/Main/Top">
                        <input type="hidden" name="page" value="@Model.Pages[i]">
                        <input type="submit" class="button @style" title="Page @Model.Pages[i]" value="@Model.Pages[i]">
                    </form>
                </div>
            }
            <div>
                <form method="get" action="/Main/Top">
                    <input type="hidden" name="page" value="@Model.PageCount">
                    <input type="submit" class="button paginatorButton" title="Last page" value=">>">
                </form>
            </div>
        </div>
    </div>